.add-user {
  max-width: 400px;
  margin: 1rem auto;

  .add-user-heading {
    font-size: 1rem;
    text-align: center;
    margin: 1rem 0;
  }
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    label {
      margin-bottom: 0.25rem;
      color: #333;
      font-size: 0.9rem;
    }
    .input {
      padding: 0.5rem;
      border: 1px solid #333;
      border-radius: 0.25rem;
    }
    .required {
      &::after {
        content: "*";
        color: red;
        margin-left: 0.25rem;
      }
    }
  }
  .btn {
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  .btn-save {
    border: 1px solid #c2185b;
    background-color: #e91e63;
    margin-right: 1rem;
  }
  .btn-back {
    border: 1px solid #455a64;
    background-color: #607d8b;
  }
  .justify-center {
    display: flex;
    justify-content: center;
  }
  .btn-save:disabled {
    background: #f48fb1;
    cursor: no-drop;
  }
}
